
body {
  width: 80%;
  border: 20px solid #bdc3c7;
  /* font-family: 'Source Sans Pro', sans-serif; */
  padding: 20px;
  margin: 20px auto;
  margin-top: 40px;
  max-width: 700px;
  text-align: center
}


h2 {
  color: purple;
}

button1 {

  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

}